doctype html
html
 head
   title Attributes
   style.
    div{
        border:solid silver 1px;
    }
 body
  div(id="content", class="main")
   a(href="http://epxressjsguide.com", title="Express.js Guide", target="_blank") Express.js
   form(action="/login")
    button(type="submit", value="save")
  div(class="hero-unit") Learn Node.js!
  #container.col-12
   input(type="checkbox", checked)
   | PHP will be checked!
   
   