doctype html
html
 head 
  title Conditions and Iterations
 body
 //Conditions using the prefix -
 - const user = {};
 - user.admin = Math.random() > 0.5;
 - if(user.admin)
  p Admin is greather than 0.5
 - else
     p Less than 0.5
 //Condition without prefix - and without parenthesis
 - const person = {};
 - person.firstname = (user.admin)? "Tochukwu" : "Chucks";
 if person.firstname == "Tochukwu"
  p= person.firstname 
   |  studied in Uniben
 else
  p= person.firstname 
   |  lives in Cae town
 //Iterations
 - langs = ['PHP', 'JavaScript', 'C#', 'Dart', 'Python'];
 each lang, index in langs
  p= (index + 1) + ') '+ lang
 //case (Much like switch)
 - rand = Math.round(Math.random() * 10);
 - dice = (rand > 6)? 10 - rand : (rand <= 0)? 1 : rand;
 case dice
  when 1
   p o
  when 2
   p oo
  when 3
   p ooo
  when 4
   p oooo
  when 5
   p ooooo
  when 6 
   p oooooo
  default
   p not found