doctype html
html(lang="en")
 head
  title Why JavaScript is Awesoome | CodeingFear: programming and humman circumstances
  script(type='text/javascript').
   const a = 1;
   console.log(`Some Javascript code here and the value of a is ${a}`);
  style(type='text/css').
   div {
       border: solid silver 1px;
   }
 body
  h1 Why JavaScript is Awesome
  div(id="container", class="col")
   p You are amazing 
   p Get on it!
   p.
    JavaScript is fun. Almost everything
    can be written in JavaScript. It is huge.
  #container.col
   p Just a paragraph inside another div element