doctype html
html
 head
  title Text
  style.
   body{
       background: silver;
   }
   div{
      border: solid white 1px;
   }
 body
  div
   | A line of text.
   | Another line of text.
  div.
   A line of text under multiple line div.
   Another line of text under multiple line div.
  div
   p#message
   script.
    setTimeout(()=>{
        console.log('Pug is so cool');
        document.getElementById('message').innerHTML = 'You have a message in console.';
    }, 3000)
