doctype html
html 
 head
  title Home Page
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
 body
  .container
   .row
    .col-sm-12
     h3 Welcome to the home page