extends layout
block page
 - var menu = 'post'
block content
 div.col-sm-12 
  h2 Post an Article 
 - if(error)
  div.alert.alert-danger.col-sm-12= error 
 - if(message)
  div.alert.alert-success.col-sm-12= message
 div.col-sm-12 
  form(action="/post", method="POST", role="form") 
   div.form-group 
    label(for="title") Title 
    input#title.form-control(name="title", type="text", placeholder="title")
    label(for="slug") Slug
    input#slug.form-control(name="slug", type="text", placeholder="slug-of-title")
    span.helper-block This string will be used in the URL.
    div.form-group 
     label(for="text") Text 
     textarea#text.form-control(rows="5", name="text", placeholder="Text")
     p 
      button.btn.btn-primary(type="submit") Save 
      