doctype html
html
 head
  title Compile time Javascript
 body
  h2 Here we deal with server side javascript in the template. 
  - var letters = ['<a>', '<b>', '<c>'];
  ul
   - for (let i = 0; i < letters.length; i++) 
    li
     span= i
     span!="unescaped: " + letters[i] + " vs. "
     span= "escaped: " + letters[i]
